.moringa img {
  height: 350px;
  width: 400px;
  position: relative;
  left: 500px;
  bottom: 250px;
}
.moringa #button {
  position: relative;
  bottom: 350px;
}
.moringa {
  height: 300px;
  width: 600px;
}
.stories img{
  height: 300px;
  width: 500px;
}
.stories .body {
  position: relative;
  left: 600px;
  bottom: 250px;
}
.stories {
  height: 400px;
  width: 600px;
}
.board-meeting img {
  height: 300px;
  width: 400px;
  position: relative;
  left: 500px;
  bottom: 150px;
}
.board-meeting {
  height: 350px;
  width: 600px;
}
.board-meeting .body {
  position: relative;
  top: 50px;
}
.graduation-party img {
  height: 300px;
  width: 500px;
}
.graduation-party .body{
  position: relative;
  left: 600px;
  bottom: 250px;
}
.graduation-party {
  height: 350px;
  width: 600px;
}

.rose img {
  height: 200px;
  width: 200px;
}
.albert img {
  height: 200px;
  width: 200px;
}
.albert {
  position: relative;
  left: 300px;
  bottom: 385px;
}
.raphael {
  position: relative;
  left: 600px;
  bottom: 770px;
}
.raphael img {
  height: 200px;
  width: 200px;
}
.christine img {
  height: 200px;
  width: 200px;
}
.christine {
  position: relative;
  left: 900px;
  bottom: 1155px;
}