* {
  font-family: 'Nunito';
}
.moringa img {
  height: 350px;
  width: 400px;
  position: relative;
  left: 500px;
  bottom: 250px;
}
.moringa #button {
  position: relative;
  bottom: 350px;
}
.moringa {
  height: 300px;
  width: 600px;
}
.stories img{
  height: 300px;
  width: 500px;
}
.stories .body {
  position: relative;
  left: 600px;
  bottom: 250px;
}
.stories {
  height: 400px;
  width: 600px;
}
.board-meeting img {
  height: 300px;
  width: 400px;
  position: relative;
  left: 500px;
  bottom: 150px;
}
.board-meeting {
  height: 350px;
  width: 600px;
}
.board-meeting .body {
  position: relative;
  top: 50px;
}
.graduation-party img {
  height: 300px;
  width: 500px;
}
.graduation-party .body{
  position: relative;
  left: 600px;
  bottom: 250px;
}
.graduation-party {
  height: 350px;
  width: 600px;
}
.project img {
  width: 500px;
  height: 400px;
  position: relative;
  left: 500px;
  bottom: 250px;
}
#project-message {
  position: relative;
  left: 120px;
  bottom: 40px;
}
.project {
  width: 600px;
}
.moringa h1{
  color:  #EC4067;
}
#button {
  background-color: #EC4067;
  color: white;
}
#button-2 {
  color:  #EC4067;
}
#button-1 {
  background-color: #EC4067;
  color: white;
}
h4 {
  color: #EC4067;
}
#bike h1 {
  color: #EC4067;
}
.project {
  height: 500px;
}
.conclusion h1 {
  color: #EC4067;
}
.conclusion {
  height: 200px;
}
#school {
  position: relative;
  left: 100px;
  bottom: 47px;
}
#moring {
  color: #EC4067;
}

.design {
  text-align: center;
}
.dashboard {
  width: 600px;
  position: relative;
  left: 450px;
}
#title {
  color: #EC4067;
}
#not-colored{
  color: black;
}
.tm-card {
  border: none;
}
.card-header {
  color: #EC4067;
  border: none;
}
.card-button {
  background-color: #EC4067;
}
.tm-name {
  position: relative;
  top: 225px;
  color: white;
}
.albert {
  position: relative;
  left: 320px;
  bottom: 480px;
}
.raphael {
  position: relative;
  left: 640px;
  bottom: 960px;
}
.christine {
  position: relative;
  left: 960px;
  bottom: 1440px;
}
.technical-mentors {
  width: 600px;
  height: 600px;
}
.tm-char {
  position: relative;
  left: 300px;
  bottom: 35px;
}
.explore {
  background-color: white;
  color: #EC4067;
}